* {
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

ul {
    padding-left: 0;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.wrapper h1 {
    text-align: center;
    font-weight: 900;
    font-size: 48px;
}

.wrapper input {
    width: 100%;
    height: 56px;
    font-size: 18px;
    color: #A7A7A7;
    padding: 0 15px;
    outline: none;
    border: 1px solid #D7DFE9;
}





.half {
    float: left;
    width: 100%;
  }

  .half h2 {
      text-align: center;
      font-weight: 900;
      font-size: 36px;
      margin-top: 5rem;
      margin-bottom: 3rem;
  }

  .tab {
    position: relative;
    margin-bottom: -1px;
    width: 100%;
    color: #000;
    overflow: hidden;
    border: 1px solid #D7DFE9;
  }
 .tab input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
  .tab  label {
    position: relative;
    display: block;
    padding: 0 0 0 1em;
    font-weight: 600;
    font-size: 18px;
    line-height: 3;
    cursor: pointer;
  }

  .tab-content {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height .35s;
    -o-transition: max-height .35s;
    transition: max-height .35s;
  }

  .tab-content p {
    margin: 1em;
    font-size: 18px;
    color: #929292;
  }
 
  .wrapper input:checked ~ .tab-content {
    max-height: 10em;
  }

  .wrapper label::after {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 3em;
    height: 3em;
    line-height: 3;
    text-align: center;
    -webkit-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
  }
  .wrapper input[type=checkbox] + label::after {
    content: "";
    background: url(../img/chevron_down.png) no-repeat center;
  }
  .wrapper input[type=radio] + label::after {
    content: "\25BC";
  }
  .wrapper input[type=checkbox]:checked + label::after {
    transform: rotate(180deg);
  }
  .wrapper input[type=radio]:checked + label::after {
    transform: rotateX(180deg);
  }
  
  *, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .wrapper {
    margin: auto;
    width: 90%;
    max-width: 960px;
  }
 
  .card {
    padding: 1em;
    color: #333;
    background: #fff;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.25);
    box-shadow: 0 0 10px rgba(0,0,0,.25);
  }
  .card h2:first-child,
  .card p:first-child {
    margin-top: 0;
  }