* {
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

ul {
    padding-left: 0;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.bodyOverlay {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.active {
    background: rgb(0 0 0 / 69%);
    display: block;
    z-index: 4
}


.headerWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: #ffffff;
}

.headerContainer {
    width: 1345px;
    height: 120px;
    display: flex;
    justify-content: space-between;
}

.headerLeft {
    display: flex;
}

.headerLeft .logo a {
    display: flex;
    width: 80px;
    height: 80px;
    justify-content: center;
    align-items: center;
    border:1px solid #000;
    font-weight: 600;
    font-size: 16px;
    color: #000000;
    margin-top: 20px;
}

.headerRight {
    display: flex;
    flex-direction: column;
    width: 1115px;
    justify-content: space-between;
}

.headerRightTop {
    display: flex;
    height: 48px;
    justify-content: space-between;
}

.headerBanner {
    width: 524px;
    height: 48px;
    background: rgb(64 48 6 / 50%); 
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    align-items: center;
    color: #ffffff;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 14px;
}

.headerBannerOne {
    width: 100%;
    height: 34px;
    background: #F37252;
    align-items: center;
    color: #ffffff;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    display: none;
}

.headerTopSubMenu {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    border-bottom:1px solid rgba(102, 102, 102, 0.1);
}

.bannerIcon {
    margin-right: 5px;
}

.menu-icon {
    display: none;
}

#hamburger-icon {
    height: 14px;
    position: relative;
    display: block;
    z-index: 9998;
    width: 50px
  }
  
  #hamburger-icon .line {
    display: block;
    background: #344D46;
    width: 18px;
    height: 2px;
    position: absolute;
    left: 15px;
    border-radius: 4px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
  }
  #hamburger-icon .line.line-1 {
    top: 0;
  }
  #hamburger-icon .line.line-2 {
    top: 50%;
  }
  #hamburger-icon .line.line-3 {
    top: 100%;
  }
  #hamburger-icon.active .line-1 {
    transform: translateY(10px) translateX(0) rotate(45deg);
    -webkit-transform: translateY(10px) translateX(0) rotate(45deg);
    -moz-transform: translateY(10px) translateX(0) rotate(45deg)
  }
  #hamburger-icon.active .line-2 {
    opacity: 0;
  }
  #hamburger-icon.active .line-3 {
    transform: translateY(-10px) translateX(0) rotate(-45deg);
    -webkit-transform: translateY(-10px) translateX(0) rotate(-45deg);
    -moz-transform: translateY(-10px) translateX(0) rotate(-45deg)
  }
  
  .header {
    background: #3F51B5;
    width: 100%;
    height: 60px;
    box-shadow: 0 1px 4px #1A237E;
    color: #fff
  }

  .logoResonsive {
      display: none;
  }

  .left .menu-icon {
      display: none;
  } 

  /* Slide Menu */
  .slide-menu {
    position: fixed;
      -webkit-transform: translateX(-285px);
      -ms-transform: translateX(-285px);
      transform: translateX(-285px);
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
      will-change: transform;
      -webkit-transition-duration: .2s;
      transition-duration: .2s;
      -webkit-transition-timing-function: cubic-bezier(.4,0,.2,1);
      transition-timing-function: cubic-bezier(.4,0,.2,1);
      -webkit-transition-property: -webkit-transform;
      transition-property: transform;
    background: #fff;
    top:0;
    bottom: 0;
    color: #333;
    z-index: 9999;
    width: 250px;
      -webkit-box-shadow: 3px 0px 7px 0px rgba(0,0,0,0.25);
      -moz-box-shadow: 3px 0px 7px 0px rgba(0,0,0,0.25);
      box-shadow: 3px 0px 7px 0px rgba(0,0,0,0.25);
      display: none;
  }
  .slide-header {
    height: 35px;
    top:0;
    position: relative;
    display:flex;
    justify-content: space-between;
    align-items: center;
  }

  .slide-header p {
      font-weight: 700;
      color: #000000;
      font-size: 24px;
      margin: 0;
  }

  .slide-close-button button {
    border: 0;
    z-index: 99999;
    background: none;
    position: relative;
  }
  /* Slide Left  */
  .slide-left {
        -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0);
      z-index: 99999;
      padding: 45px 16px;
  }
  .mdl-layout__obfuscator {
      background-color: transparent;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      visibility: hidden;
      -webkit-transition-property: background-color;
      transition-property: background-color;
      -webkit-transition-duration: .2s;
      transition-duration: .2s;
      -webkit-transition-timing-function: cubic-bezier(.4,0,.2,1);
      transition-timing-function: cubic-bezier(.4,0,.2,1);
  }
  .slide-left~.mdl-layout__obfuscator {
      background-color: rgba(0,0,0,.5);
      visibility: visible;
  }

  .slide-menu-here > ul > li > a {
      font-weight: 700;
      font-size: 24px;
      color: #000000;
  }

.subMenu {
    display: flex;
    flex-direction: row;
    height: 48px;
    justify-content: space-between;
    align-items: center;
}

.headerTopSubMenu > ul > li {
    display: inline-flex;
    flex: 1 1 auto;
    height: 100%;
    cursor: pointer;
}

.headerTopSubMenu > ul > li > a {
    display: flex;
    color: #635656;
    font-weight: 400;
    padding: 0 12px;
}

.headerTopSubMenu > ul > li:last-child > a {
    padding-right: 0;
}

.headerRightBottom {
    display: flex;
    justify-content: space-between;
}

.headerBottomRight {
    align-items: center;
    display: flex;
}

.headerBottomRight div {
    margin-left: 1.5rem;
}

.cart {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cartIcon {
    height: 24px;
    width: 19.117353439331055px;
    border-radius: 0px;
    background: url(../img/bag.png);
    font-size: 13px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 6px;
}

.cartTitle {
    color: #2B0F0B;
    font-size: 14px;
    font-weight: 700;    
    padding-top: 4px;
    margin-left: 7px;
}


.row {  
    display: flex;
    flex-wrap: wrap;
}

.nav {
    display: flex;
    flex-direction: row;
}

.nav > li {
    display: inline-flex;
    padding: 0 24px;

}

.nav > li:first-child {
    padding-left: 0;
}

.nav > li > a {
    color: #2B0F0B;
    font-size: 18px;
    font-weight: 700;
}

.nav > li:hover > a {
    text-decoration: underline;
    color:#FF2404;
}

.megaDrop {
    width: 100%;
    background: #ffffff;
    display: none;
    justify-content: center;
    align-items: center;
    top: 87%;
    position:absolute;
    left: 0;
    padding: 30px 0;
    z-index: 2;
    visibility: hidden;
}

.nav > li:hover .megaDrop {
    display: flex;
    visibility: visible;
}

.megaDropContainer {
    display: flex;
    width: 1345px;
}

.dropHover {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.dropHover > li {
    display: flex;
}

.dropHover > li > a {
    font-size: 24px;
    font-weight: 700;
    color: #000000;
}

.dropHover > li > a span {
    font-weight: 400;
    font-size: 16px;
    display: flex;
}

.parallax img {
    width: 100%;
    position: absolute;
    top: 0;
    transform: translateZ(-10px);
}

.parallax {
    height: 450px;
    overflow-x: hidden;
    overflow-y: overlay;
    -webkit-perspective: 1px;
    perspective: 1px;
  }

  .parallax__layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .parallax__layer--base {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

  .parallax__layer--back {
    -webkit-transform: translateZ(-1px) scale(2);
    transform: translateZ(-1px) scale(2);
  }

  .parallax {
    font-size: 200%;
  }

   /* add some padding to force scrollbars */
  .parallax__layer {
    padding: 450px 0;
  }

  .parallax .title {
    position: absolute;
    left: 50%;
    top: 25%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-weight: 700;
    font-size: 50px;
  }



.showcaseWrapper {
    background: rgba(197, 186, 157, 0.5);
    padding: 36px 0 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: -4px;
}


.showcaseWrapper ::-webkit-scrollbar-track
{
	
	border-radius: 10px;
	background-color: #F5F5F5;
}

.showcaseWrapper ::-webkit-scrollbar
{
	width: 12px;
	
}

.showcaseWrapper ::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}


.showcaseContainer {
    width: 1345px;
   display: flex;
}

.showcaseLi {
    display: flex;  
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    width: 1340px;
    padding-bottom: 20px;
}

.showcaseLi li:first-child {
    padding-left: 0;
}

.showcaseLi li {
    padding: 0 10px;
    scroll-snap-align: start;
}

.showcase {
    width: 204px;
    height: 403px;
    position: relative;
}

.showcaseImg {
    width: 204px;
    height: 307px;
    overflow: hidden;
    position: relative;
    background: #fff;
}


.showcaseImgTwo img {
    width:100%
}

.showcaseImgOne, .showcaseImgTwo {
    position: absolute;
    left: 0;
    top:0;
}

.showcaseImgOne {
    z-index: 1;
    -webkit-transition:opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -ms-transition:opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
    opacity: 1;
}

.showcaseImgOne:hover {
    opacity: 0;
}

.fastBadge {
    position: absolute;
    left: 0;
    top:0;
    width: 40px;
    height: 40px;
    background: url(../img/Shipping.png);
    z-index: 3;
}

.rebateBadge {
    position: absolute;
    left: 0;
    top: 71%;
    text-align: center;
    height: 15px;
    line-height: 15px;
    background-color:#E21818;
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    padding: 0 10px;
    z-index: 3;
}

.checked {
    color: orange;
}

.ratingTitle {
    margin-left: 5px;
    font-size: 13px;;
} 

.showcaseBottom {
    display: flex;
    flex-direction: column;
}

.showcaseProductTitle {
    font-size: 18px;
    font-weight: 600;
    color: #000000;
    width: 204px;
    white-space: nowrap; 
    text-overflow: ellipsis;
    overflow: hidden;
}

.showcasePrice {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.showcasePriceOne {
    font-weight: 700;
    color: #000000;
    font-size: 18px;
    margin-right: 10px;
}

.showcasePriceTwo {
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
   text-decoration: line-through;
}

.showcaseImgChangeButton {
    display: flex;
}

.defaultPic {
    width: 20px;
    height: 20px;
    background: #131313;
    border: 1px solid #fff;
    margin-right: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.defaultPic:hover .showcaseImgOne {
    opacity: 0;
}

.secondPic {
    width: 20px;
    height: 20px;
    background: #A14444;
    border: 1px solid #fff;
    margin-right: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.removeImg {
    opacity: 0;
}

.getPointsWrapper {
    padding: 60px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.getPointsContainer {
    width: 885px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.pointsHead {
    flex-direction: column;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.pointsHead h1 {
    font-weight: 900;
    font-size: 36px;
    color: #2B0F0B;
    margin: 0;
    text-align: center;
}
.pointsHead p {
    font-weight: 400;
    font-size:18px;
    text-align: center;
    color: #2B0F0B;
}

.icoWrapper {
    display: flex;
    justify-content: space-between;
}

.icoWrap {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.divIcoWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divIcoWrap {
    margin-bottom: 50px;
}

.icoTitle {
    color: #2B0F0B;
    font-weight: 700;
    font-size: 23px;
    margin-top: 12px;
}

.divIcoWrap p {
    color: #2B0F0B;
    font-weight: 400;
    font-size: 17px;
    margin:0;
}  

.wrapper h1 {
    text-align: center;
    font-weight: 900;
    font-size: 48px;
}

.wrapper input {
    width: 100%;
    height: 56px;
    font-size: 18px;
    color: #A7A7A7;
    padding: 0 15px;
    outline: none;
    border: 1px solid #D7DFE9;
}



.half {
    float: left;
    width: 100%;
  }

  .half h2 {
      text-align: center;
      font-weight: 900;
      font-size: 36px;
      margin-top: 5rem;
      margin-bottom: 3rem;
  }

  .tab {
    position: relative;
    margin-bottom: -1px;
    width: 100%;
    color: #000;
    overflow: hidden;
    border: 1px solid #D7DFE9;
  }
 .tab input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
  .tab  label {
    position: relative;
    display: block;
    padding: 0 0 0 1em;
    font-weight: 600;
    font-size: 18px;
    line-height: 3;
    cursor: pointer;
  }

  .tab-content {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height .35s;
    -o-transition: max-height .35s;
    transition: max-height .35s;
  }

  .tab-content p {
    margin: 1em;
    font-size: 18px;
    color: #929292;
  }
 
  .wrapper input:checked ~ .tab-content {
    max-height: 10em;
  }

  .wrapper label::after {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 3em;
    height: 3em;
    line-height: 3;
    text-align: center;
    -webkit-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
  }
  .wrapper input[type=checkbox] + label::after {
    content: "";
    background: url(../img/chevron_down.png) no-repeat center;
  }
  .wrapper input[type=radio] + label::after {
    content: "\25BC";
  }
  .wrapper input[type=checkbox]:checked + label::after {
    transform: rotate(180deg);
  }
  .wrapper input[type=radio]:checked + label::after {
    transform: rotateX(180deg);
  }
  
  *, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .wrapper {
    margin: auto;
    width: 90%;
    max-width: 960px;
  }
 
  .card {
    padding: 1em;
    color: #333;
    background: #fff;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.25);
    box-shadow: 0 0 10px rgba(0,0,0,.25);
  }
  .card h2:first-child,
  .card p:first-child {
    margin-top: 0;
  }